@using System.Text;
@using Cleverbit.RegionsEmployeesPart2.Models;

@model List<Cleverbit.RegionsEmployeesPart2.Models.Employee>


<br />

<p>Employees: @Model.Count()</p>

<!--Iterate through each employee in specified region tree-->
@foreach (var employee in Model)
{
    <p>
        <!--Print employee name and surname, then call recursive function to get path string-->
        @($"{employee.Name} {employee.Surname}: ")
        @Html.Action("RecursiveParsingOfRegions",
            new {currentRegion = employee.Region, returnString = new StringBuilder()})
    </p>
}